<h1>注文一覧</h1>

<% if notice %>
  <p id="notice" class="alert alert-info"><%= notice %></p>
<% end %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>電話番号</th>
      <th>配送先住所</th>
      <th>支払方法</th>
      <th>DM希望</th>
      <th>その他コメント</th>
      <th>注文内容</th>
      <th colspan="3">確認</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.name %></td>
        <td><%= order.email %></td>
        <td><%= order.telephone %></td>
        <td><%= order.delivery_address %></td>
        <td><%= order.payment_method&.name || "未設定" %></td>
        <td><%= order.direct_mail_enabled? ? '希望する' : '希望しない' %></td>
        <td><%= order.other_comment %></td>
        <td>
          <% order.order_products.each do |item| %>
            <div>
              [商品ID: <%= item.product_id %>]
              [商品名: <%= item.product.name %>]
              [数量: <%= item.quantity %>]
            </div>
          <% end %>
        </td>
        <td><%= link_to '詳細', order_path(order), class: 'btn btn-sm btn-info' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center mt-4">
  <%= link_to 'トップページに戻る', root_path, class: 'btn btn-secondary' %>
</div>
